.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: white;
  flex-wrap: wrap;
}

.verticle-line {
  border-left: 1px solid #b0b0b0;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo img {
  margin: 20px;
}

.search-bar {
  display: flex;
  align-items: center;
}

.category-select {
  padding: 5px;
  border: none;
  background-color: #fff;
}

.search-input {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 350px;
}

.search-button {
  padding: 5px 10px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.contact-info,
.shipping-info {
  margin-right: 150px;
  margin-top: 10px;
}

.contact-info span,
.shipping-info span {
  display: block;
}

.contact-price {
  font-size: 11px;
  color: #b0b0b0;
}

.ConatactNumber {
  color: #000;
  font-weight: 700;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-icon,
.wishlist-icon,
.cart-icon {
  margin-right: 35px;
  position: relative;
  font-size: 25px;
}

.item-count {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

.cart-total {
  margin-left: 5px;
}

.navbar-links {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: start;
  margin-left: 390px;
  margin-top: -10px;
}

.navbar-links a {
  margin: 0 15px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
}

.navbar-links a:hover {
  color: red;
}

.navbar-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: red;
  transition: width 0.3s;
}

.navbar-links a:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.Navbar-Menu {
  font-size: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none; /* Hide by default */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    width: 100%;
    display: block !important;
  }

  .navbar-left {
    display: block;
  }

  .search-bar {
    display: block;
    margin: 10px 20px;
  }

  .search-bar button {
    display: none;
  }

  .search-input {
    width: 100%;
  }

  .navbar-right {
    display: block;
    margin: 10px 20px;
  }

  .navbar-links {
    margin: 20px 10px;
  }

  .Navbar-Menu {
    display: block; 
  }
}

@media (min-width: 769px) {
  .Navbar-Menu {
    display: none; 
  }
}
.open .navbar-left,
.open .navbar-right,
.open .navbar-links {
  display: none;
}
